nextflow.enable.dsl = 2

// Enable Docker for ALL runs by default:
docker {
  enabled = true
}

profiles {
  docker {
    docker { enabled = true }
    process { executor = 'local' }
  }
}

// nextflow.config
workDir = "${System.getenv('HOME')}/nf-work"

params {
  mode          = null  // "Analysis mode: wes or amplicon"
  reads_dir     = null  // "Folder containing paired FASTQs (_R1_*.fastq.gz & _R2_*.fastq.gz)"
  bams_dir      = null  // "Folder containing BAM files (_sorted.bam)"
  vcfs_dir      = null  // "Folder containing VCF files (_variants.vcf.gz)"
  bam_vcf_dir   = null  // "Folder containing BAM and VCF files"
  assembly      = 'hg38'  // "Reference genome: hg19 or hg38"
  panel         = null // "Panel name"
  run_id_def    = "${params.panel ?: 'panel'}_${params.assembly ?: 'assembly'}_r${String.format('%06d', (int)(Math.random() * 1_000_000))}" // "Run ID"
  run_id        = null       // If provided, overrides everything
  samplesheet   = true  // Try SampleSheet.csv when run_id_cli is not given
  mincov        = null // "Minimum coverage threshold"
  minvaf        = null // "Minimum variant allele frequency threshold"
  minvad        = null  // "Minimum variant allele depth threshold"
  dedup_mode    = null // "Deduplication mode: umi or simple or none"
  vep_cache     = "${System.getenv('HOME')}/.vep" // "Path to local VEP cache"
  cpus          = 4 // "Number of CPUs to use for each process"
  date          = new Date().format('yyyy-MM-dd')
  help          = false // "Show help message"
}
