nextflow.enable.dsl = 2

process {
  // Copy every process’s declared outputs into ${params.out_dir}/
  publishDir = { task -> params.out_dir }
}

profiles {
  docker {
    docker { enabled = true }
    process { executor = 'local' }
  }
}

params {
  reads_dir     = null
  run_id        = null
  assembly      = 'hg38'
  panel         = 'wes_panel'
  mincov        = 200
  minvaf        = 1.0
  minvad        = 10
  dedup_mode    = 'umi'
  vep_cache     = "${System.getenv('HOME')}/.vep"
  date          = new Date().format('yyyy-MM-dd')
  cpus          = 4
  out_dir       = "varflow.${params.run_id ?: 'run'}.${params.date}"
}
